@import url('https://fonts.googleapis.com/css?family=Lato');

@keyframes showScore {
    0% { transform: translateY(-66px); }
    80% { transform: translateY(0px); }
    100% { transform: translateY(-6px); }
}

$animDelay: 2s;

%animationScore {
    transform: translateY(-66px);
    animation-name: showScore;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-fill-mode: forwards;
    animation-delay: $animDelay;
}

.component-overlay {    
    height: 100vh;
    width: 100vw;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    
    .container-top {        
        display: flex;
        justify-content: space-between;

        .scoreWrapper {        
            margin: 0 15em;
            @extend %animationScore;
        }

        .losing {
            animation-delay: $animDelay+0.3;
        }
    }

    .component-corner {
        margin: 0 0 8px 7px;
    }    
}