:root {
    --gray1: #f1f1f1;
    --gray2: #C6C6C6;
    --gray3: #363636;
    --gray4: #272727;
    --gray5: #181818;

    --text-white: #EEEEEE;
    --text-gray: #6E6E6E;
    --text-gray2: #7C7C7C;
    --text-black: #272727;

    --danger: #520A0A;
    --success: #27B803;

    --distance-value: 36px;
}